$font: 'Open Sans', sans-serif;
$shade: rgba( 0, 0, 0, .5 );
$shadow: 0 2px 5px 0 rgba( 0, 0, 0, .26 );

@mixin transition( $transition-property, $transition-time, $method )
{
    transition: $transition-property $transition-time $method;
}

@mixin transform( $transforms )
{
    transform: $transforms;
}

@mixin transition-delay( $delay )
{
    transition-delay: $delay;
}

.intro,
footer,
#logo,
.hero,
#border
{
    position: relative;
    z-index: 5;
}

body,
html,
.homepage
{
    width: 100%;
    height: 100%;

    background-color: black;
}
#view-toggle
{
    position: absolute;
    top: 30px; right: 26px;

    width: 30px;

    cursor: hand;    cursor: pointer;
    transition: all 250ms ease-out;

    opacity: .4;

    .list
    {
        div
        {
            width: 20px;
            height: 5px;
            margin: 5px;

            background-color: white;
        }
    }
    .grid
    {
        div
        {
            float: left;

            width: 10px;
            height: 10px;
            margin: 2px;

            background-color: white;
        }
    }
}
#view-toggle:hover
{
    opacity: 1;
}

#logo
{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;

    position: absolute;
    top: 25px;
    left: 25px;

    overflow: hidden;

    padding: 2px;

    white-space: nowrap;
    text-decoration: none;

    color: white;
    // box-shadow: $shadow;
    background-position: -50px;

    @include transition( width, 175ms, ease-out );
}


#border
{
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    pointer-events: none;

    border: 8px solid white;
}
#social
{
    display: none;
}
#socialBtn
{
    font-family: 'Open sans', sans-serif;
    font-size: .8em;

    position: fixed;
    top: 32px;
    right: 25px;

    cursor: hand;
    cursor: pointer;

    opacity: .8;
    color: white;
    a
    {
        text-decoration: none;

        color: white;
    }
}

footer
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    height: 250px;

    background-color: white;

    flex-flow: column;
            align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    p
    {
        font-family: $font;
        font-size: 12px;

        margin-bottom: 35px;

        color: grey;
    }
    a
    {
        text-decoration: none;

        color: grey;
    }
    button
    {
        font-family: $font;
        font-style: italic;

        padding: 5px 10px;

        cursor: hand;
        cursor: pointer;

        border: none;
        border: 1px solid rgba(0,0,0,0);
        background: none;
        box-shadow: 0 0 0 rgba(0,0,0,.0);

        @include transition( all, 250ms, ease-out );
    }
    button:hover
    {
        color: grey;
    }
    button:focus
    {
        outline: none;
    }
    button:first-of-type
    {
        margin-right: 10px;
    }
    button:nth-of-type(2)
    {
        margin-left: 10px;
    }
}


#project_container
{
    position: fixed;
    z-index: 5;
    top: 30px;
    left: 30px;

    display: flex;

    width: calc( 100% - 60px );
    height: calc( 100% - 60px );

    transform-origin: 50% 50%;
    pointer-events: none;

    opacity: 0;
    color: black;
    background-color: white;

    @include transition( all, 550ms, ease-out );
    @include transform( scale( 0,.005 ) );
    flex-flow: column;
            align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.project-active
{
    overflow: hidden;
    #project_container
    {
        pointer-events: inherit;

        opacity: 1;

        @include transform( scale( 1,.005 ) );
    }
}
.done
{
    #project_container
    {
        @include transform( scale( 1,1 ) );
    }
}
