.hero
  .intro(data-anchor-target='#work-menu', data-start='opacity: 1;transform:translate(-50%,0px);')
    p
      | A 
      a(href='http://tiwibzone.tiwib.netdna-cdn.com/images/technomancer-digital-wizard-hoodie.jpg', target='_blank') Digital Wizard
      |  living in San Francisco.
    // <p>Furthering my product design, motion, and user experience skills <a href="http://siberia.io" target="_blank">@SiberiaSF</a></p>
    p.hook
      | Here are a few things 
      span my hands have touched
      | .
a(href='')
  #logo(data-anchor-target='#work-menu', data-55-top='opacity: 1;transform:translate(0%,0px);', data-0-top='opacity: 0;transform:translate(0%,-55px);')
    | Laith Azzam
#work-menu
  div
    a(href='#') Destiny the Game
    ul
      li Creative Development
      li
        | To launch the latest title from Activision & Bungie, we had to create something to set Destiny apart in a crowded shooter market.
      li
        a(href='http://www.destinythegame.com/', target='_blank') View Site
  div
    a(href='#') Destiny Selfie
    ul
      li Creative Development
      li Send your selfie to space with this Destiny twitter campaign.
      li
        a(href='http://thevoted.com/activision/Destiny/Selfie/', target='_blank') View Site
  div
    a(href='#') COD: Advanced Warfare
    ul
      li Creative Development
      li Teaser and launch site for the 11th game in the COD series.
      li
        a(href='http://www.callofduty.com/advancedwarfare', target='_blank') View Site
  div
    a(href='#') Archer 45 Lansing
    ul
      li Creative Development
      li an online portal to build exciment and drive leasing of a new luxury tower.
      li
        a(href='http://www.archer.com/', target='_blank') View Site
  div
    a(href='#') Crimewav.la
    ul
      li Design and Development
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://gohigherup.com/', target='_blank') HigherUp
    ul
      li Creative Development
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://pownowapp.com/', target='_blank') Pow Now App
    ul
      li Design and Development
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://owlcam.co/', target='_blank') Owlcam.co
    ul
      li Design and Development
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://www.fernetfrancisco.com/', target='_blank') Fernet Francisco
    ul
      li Creative Development
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://vimeo.com/56657744', target='_blank') Motion & Film Reel
    ul
      li Motion Graphics
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='https://www.youtube.com/results?search_query=blueman+groupp+hollywood+bowl', target='_blank') Blue Man Group
    ul
      li Motion Graphics
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://vimeo.com/55813553', target='_blank') 50 Logos in 50 Days
    ul
      li Logo Design
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
  div
    a(href='http://vimeo.com/52560121', target='_blank') Cocaine Donuts
    ul
      li Motion Graphics
      li
        | Crime.wav is an online installation that examines the increasingly blurred lines between the real and virtual worlds.
      li
        a(href='http://crimewav.la/', target='_blank') View Site
#project_container
//- <div id="socialBtn"><a href="http://www.youtube.com/watch?v=itvvFfeLh84&t=1m3s" target="_blank">Social Media</a></div>
//- #social
//-   ul
//-     li
//-       a(href='#', target='_blank') dribble
//-     li
//-       a(href='#', target='_blank') instagram
//-     li
//-       a(href='#', target='_blank') tumblr
//-     li
//-       a(href='#', target='_blank') vimeo
//-     li
//-       a(href='#', target='_blank') 500px
//-     li
//-       a(href='#', target='_blank') github
//-     li
//-       a(href='#', target='_blank') twitter
//-     li
//-       a(href='#', target='_blank') behance
//- #nav
//-   ul
//-     li
//-       a(href='#') Work
//-     li
//-       a(href='#') 
//-     li
//-       a(href='#')
#border
#videoBG
  video(autoplay='', loop='')
    source(src='../videos/mainBG.mp4', type='video/mp4')
#contact
footer
  p
    | Fulltime 
    a(href='http://siberia.io', target='_blank') @SiberiaSF
  .actions
    button Contact
    |  / 
    button Résumé
