a(href='')
  #logo(data-anchor-target='#work-menu', data-55-top='opacity: 1;transform:translate(0%,0px);', data-0-top='opacity: 0;transform:translate(0%,-55px);')
    | Siberia.
#view-toggle
  .grid
    div
    div
    div
    div
#work-menu
  div
  div
  div
  div
  div
  div
  div
  div
  div
  div
  div
  div
#project_container
//- <div id="socialBtn"><a href="http://www.youtube.com/watch?v=itvvFfeLh84&t=1m3s" target="_blank">Social Media</a></div>
//- #social
//-   ul
//-     li
//-       a(href='#', target='_blank') dribble
//-     li
//-       a(href='#', target='_blank') instagram
//-     li
//-       a(href='#', target='_blank') tumblr
//-     li
//-       a(href='#', target='_blank') vimeo
//-     li
//-       a(href='#', target='_blank') 500px
//-     li
//-       a(href='#', target='_blank') github
//-     li
//-       a(href='#', target='_blank') twitter
//-     li
//-       a(href='#', target='_blank') behance
//- #nav
//-   ul
//-     li
//-       a(href='#') Work
//-     li
//-       a(href='#') 
//-     li
//-       a(href='#')
#border
#contact
footer
  .actions
    button Contact
    |  / 
    button Apply
